[Unit]
Description=nextcloud uwsgi service
Wants=nextcloud-first-run.service
After=nextcloud-first-run.service

[Service]
Type=notify
DynamicUser=yes
User=nextcloud
Sockets=nextcloud-uwsgi.socket
Environment=NEXTCLOUD_CONFIG_DIR=/var/lib/nextcloud/config/
StateDirectory=nextcloud
LogsDirectory=nextcloud
TemporaryFileSystem=/var
ExecStart=@execStart@

[Install]
WantedBy=multi-user.target
