[Unit]
Description=nextcloud cron
Wants=nextcloud-first-run.service
After=nextcloud-first-run.service

[Service]
Type=oneshot
DynamicUser=yes
User=nextcloud
Environment=NEXTCLOUD_CONFIG_DIR=/var/lib/nextcloud/config/
StateDirectory=nextcloud
LogsDirectory=nextcloud
TemporaryFileSystem=/var
ExecStart=@php@/bin/php -f @nextcloud@/cron.php
